/target
/project/metals.sbt
/project/.bloop
/project/target
/project/project
/.bloop
/.metals
/.vscode
/.settings
/.cache
/.classpath
/.project
/logs
/.sbtserver/
/.cache-main
/.idea
/bin/
/.cache-tests
/.bsp
