@import com.nappin.play.recaptcha.WidgetHelper

@****************************************************************************************
* Renders a Google Recaptcha enabled button.
*
* @param formId            The HTML id of the form the button is within
* @param text              The text of the button
* @param widgetHelper      (Implicit) Helper utility needed for accessing settings, urls, etc
* @param messages          (Implicit) The current I18n messages
****************************************************************************************@
@(formId: String, text: String)(implicit widgetHelper: WidgetHelper, messages: Messages)

<script type="text/javascript" src="@Html(widgetHelper.widgetScriptUrl())" async defer></script>
<script>
function onRecaptchaSubmit(token) {
    document.getElementById("@formId").submit();
}
</script>
<button class="g-recaptcha" data-sitekey="@Html(widgetHelper.publicKey)" data-callback="onRecaptchaSubmit">@text</button>