@import com.nappin.play.recaptcha.WidgetHelper
@this(widgetHelper: WidgetHelper)

@****************************************************************************************
 * Low-level API: Renders a Google Recaptcha Widget, independent of the Play Forms API.
 *
 * @param includeNoScript   Whether to include the noscript block
 * @param tabindex          The tabindex of the field
 * @param args              HTML attributes for the reCAPTCHA div (optional)
 * @param messagesProvider  (Implicit) The current I18n messages provider
 ****************************************************************************************@
@(includeNoScript: Boolean, tabindex: Int, args: (Symbol, String)*)(implicit messagesProvider: MessagesProvider)

<script type="text/javascript" src="@Html(widgetHelper.widgetScriptUrl())" async defer></script>
<div class="@Html(widgetHelper.formatClass("g-recaptcha", args: _*))" @Html(widgetHelper.formatOtherAttributes(args: _*))
  data-sitekey="@Html(widgetHelper.publicKey)" data-tabindex="@tabindex" data-theme="@Html(widgetHelper.captchaTheme)"
  data-type="@Html(widgetHelper.captchaType)" data-size="@Html(widgetHelper.captchaSize)"></div>
@if(includeNoScript) {
<noscript>
  <div style="width: 302px; height: 352px;">
    <div style="width: 302px; height: 352px; position: relative;">
      <div style="width: 302px; height: 352px; position: absolute;">
        <iframe src="@Html(widgetHelper.widgetNoScriptUrl())" frameborder="0" scrolling="no"
            style="width: 302px; height:352px; border-style: none;">
        </iframe>
      </div>
      <div style="width: 250px; height: 80px; position: absolute; border-style: none;
                  bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">
        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
            style="width: 250px; height: 80px; border: 1px solid #c1c1c1;
                   margin: 0px; padding: 0px; resize: none;" value="">
        </textarea>
      </div>
    </div>
  </div>
</noscript>
}