@import com.nappin.play.recaptcha.WidgetHelper

@****************************************************************************************
 * High-level API: Renders a Google Recaptcha Widget, using the Play Forms API.
 *
 * @param form              The current form
 * @param fieldName         The logical field name
 * @param tabindex          (v1 API) The tabindex of the field (if any)
 * @param includeNoScript   (v2 API) Whether to include the noscript block, default is true 
 * @param isRequired        Whether the field is to be shown as required (default is true)
 * @param widgetHelper      (Implicit) Helper utility needed for accessing settings, urls, etc in the widget
 * @param request           (Implicit) The current request
 * @param messages          (Implicit) The current I18n messages
 ****************************************************************************************@
@(form: Form[_], fieldName: String, tabindex: Option[Int] = None, includeNoScript: Boolean = true,
    isRequired: Boolean = true)(implicit widgetHelper: WidgetHelper, request: Request[AnyContent], messages: Messages)

@import com.nappin.play.recaptcha.RecaptchaVerifier
@import com.nappin.play.recaptcha.RecaptchaErrorCode

@messageOrDefault(key: String, default: String) = @{ if (messages.isDefinedAt(key)) { messages(key) } else { default } }
@errorCode = @{ form.error(RecaptchaVerifier.formErrorKey).map(e => { Some(e.message) }).getOrElse(None) }
@recaptchaError = @{ errorCode.filter(code => !RecaptchaErrorCode.isInternalErrorCode(code)) }

<dl class="error" id="@{fieldName}_field">
    <dt><label for="@fieldName">@messages(fieldName)</label></dt>
    <dd>@recaptchaWidget(error = recaptchaError, tabindex = tabindex, includeNoScript = includeNoScript)</dd>

@errorCode match {
    
    case Some(RecaptchaErrorCode.captchaIncorrect) => {
        <dd class="error">@messageOrDefault("error.captchaIncorrect", "Incorrect, please try again")</dd>
    }
    
    case Some(RecaptchaErrorCode.recaptchaNotReachable) => {
        <dd class="error">@messageOrDefault("error.recaptchaNotReachable", "Unable to contact Recaptcha")</dd>
    }
    
    case Some(RecaptchaErrorCode.apiError) => {
        <dd class="error">@messageOrDefault("error.apiError", "Invalid response from Recaptcha")</dd>
    }
    
    case Some(RecaptchaErrorCode.responseMissing) => {
        <dd class="error">@messages("error.required")</dd>
    }
    
    case _ => {}
}
    
@if(isRequired) {    
    <dd class="info">@messages("constraint.required")</dd>
}
</dl>