@import com.nappin.play.recaptcha.{RecaptchaVerifier, RecaptchaErrorCode, WidgetHelper}
@import scala.collection._
@this(widgetHelper: WidgetHelper, recaptchaWidget: recaptcha.recaptchaWidget)

@****************************************************************************************
 * High-level API: Renders a Google Recaptcha Widget, using the Play Forms API.
 *
 * @param form              The current form
 * @param fieldName         The logical field name
 * @param tabindex          The tabindex of the field
 * @param includeNoScript   Whether to include the noscript block
 * @param isRequired        Whether the field is to be shown as required
 * @param args              HTML attributes for the reCAPTCHA div (optional)
 * @param messagesProvider  (Implicit) The current I18n messages provider
 * @param request           (Implicit) The current request
 ****************************************************************************************@
@(form: Form[_], fieldName: String, tabindex: Int, includeNoScript: Boolean, isRequired: Boolean,
        args: immutable.Seq[(Symbol, String)]=Nil)(implicit messagesProvider: MessagesProvider, request: Request[AnyContent])

@errorMessage = @{widgetHelper.getFieldError(form)}

<dl class="@if(errorMessage.isDefined) {error}" id="@{fieldName}_field">
    <dt><label for="@fieldName">@Messages(fieldName)</label></dt>
    <dd>@recaptchaWidget(includeNoScript, tabindex, args)</dd>

@errorMessage.map { message =>
    <dd class="error">@message</dd>
}
    
@if(isRequired) {    
    <dd class="info">@Messages("constraint.required")</dd>
}
</dl>