@import com.nappin.play.recaptcha.WidgetHelper
@this(widgetHelper: WidgetHelper)

@****************************************************************************************
 * Low-level API: Renders a Google Recaptcha Widget, independent of the Play Forms API.
 *
 * @param includeNoScript   Whether to include the noscript block
 * @param tabindex          The tabindex of the field
 * @param args              HTML attributes for the reCAPTCHA div (optional)
 * @param messagesProvider  (Implicit) The current I18n messages provider
 * @param request           (Implicit) The current request
 ****************************************************************************************@
@(includeNoScript: Boolean, tabindex: Int, args: (Symbol, String)*)(implicit messagesProvider: MessagesProvider,
    request: Request[AnyContent])

<script type="text/javascript" @Html(widgetHelper.outputNonce()) src="@Html(widgetHelper.widgetScriptUrl())" async defer></script>
<div class="@Html(widgetHelper.formatClass("g-recaptcha", args: _*))" @Html(widgetHelper.formatOtherAttributes(args: _*))
  data-sitekey="@Html(widgetHelper.publicKey)" data-tabindex="@tabindex" data-theme="@Html(widgetHelper.captchaTheme)"
  data-type="@Html(widgetHelper.captchaType)" data-size="@Html(widgetHelper.captchaSize)"></div>
@if(includeNoScript) {
<noscript>
  <div>
    <div style="width: 302px; height: 422px; position: relative;">
      <div style="width: 302px; height: 422px; position: absolute;">
        <iframe src="@Html(widgetHelper.widgetNoScriptUrl())" frameborder="0" scrolling="no"
            style="width: 302px; height:422px; border-style: none;">
        </iframe>
      </div>
    </div>
    <div style="width: 300px; height: 60px; border-style: none;
                bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
                background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
      <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
          style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
                 margin: 10px 25px; padding: 0px; resize: none;">
      </textarea>
    </div>
  </div>
</noscript>
}